@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Changa:wght@200..800&family=Dancing+Script:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');
*{
    margin: 0px;
    padding: 0px; 
}
body{
    font-family: "Exo 2", sans-serif;
}
header{
    background-image: url('images/senacAmpliada_LE_ml_resize_x4\ -\ Copia.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}


.container{
    display: flex;
}
.logo img{
    width: 30%;
}
.titulo{
    margin-top: 20px;
    text-align: center;
    color: rgb(0, 204, 255);
    box-shadow: 5px;
}
p{
    text-align: center;
    font-size: 180%;
}


/* DADOS PESSOAIS */
.form{
    margin: 30px 40px 20px 20px;
    border: 2px solid black;
    border-radius: 8px;
}
.form h4 {
margin-bottom: 20px;
text-align: center;
color: white;
background: rgb(222,176,5);
background: linear-gradient(339deg, rgba(222,176,5,1) 15%, rgba(0,55,170,1) 45%);
padding: 5px;
border-bottom: 2px solid black;
}

.search-box 
{
    display: flex;
    justify-content: center;
}

.search-box input{
    margin: 40px;
    border-color: blue;
    border-radius: 5px;
    text-align: center;
}

.search-box .ID input{
    width: 70px;
}

